


/* Hero section */


@media(max-width:600px){
   
    .global-margin {margin-left: 4%; margin-right: 4%;}
    .nav-items{ display: none;}
    .nav-logo a img{ width: 20%;}
    .nav-logo h2{font-size: 20px;}
    .hero-contant h1 {font-size: 25px;}
    .hero-contant p {font-size: 13px;padding: 5px;}
    

    .form-list {width: 80%;margin-bottom: 10px;}
    .extra{width: 75%;}
    .btn-from { width: 80%;}
    .tours-items{display: inline;justify-content: space-around;}
    .torus-img img{ width: 100%;}
    .tours-content { width: 100%;margin-bottom: 20px;}

    .getlost-items{display: inline;justify-content: space-around;}
    .getlost-img img{ width: 100%;}
    .getlost-content { width: 100%;margin-bottom: 20px;}
    .video-item iframe{
        height: 200px;
        width: 100%;
    }
    .deals-first {
        width: 78%;
        margin-left: 8%;
        padding: 12px 10px;
    }

    .log-form {padding: 2%; width: 97%;margin-bottom: 20px}  
    .log-img { width: 100%;}
    .news-content{ display: inline;gap: 20px;}
    .form-items input { width: 85%;}
    .form-items button { width: 98%;}

    
    .item-3 , .item-2 , .item-1 {width: 100%;}
    .item-2{ margin-left: 0;}
    .item-1{ padding: 2px;margin-bottom: 10x;}
    .item-2{ padding: 2px;margin-bottom: 10x;}
    .chose-content { display: inline;}
    .foot-1 p { padding: 0; margin-bottom: 0; }
    .fot-extra{padding: 0 }

} 