@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
    font-family: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}
.global-margin{
    margin-left: 10%;
    margin-right: 10%;
}


/* Navber Section CSS */
.nav-section, .nav-logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.nav-items ul li{
    display: inline;
}
.nav-items ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #717175;
    margin-left: 30px;
}
.nav-items ul li a:hover{
    color: #FF6920;
}
.nav-logo h2{
    font-size: 30px;
}
.nav-logo h2 span{
    color: #FF6920;
}

/* Hero Section CSS */
.hero-section{
    background-image: url(./Images/ImagesGroup\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}
.hero-items{
    text-align: center;
}
.hero-contant h1{
    color: #fff;
    font-size: 45px;
    font-weight: 800; 
    padding: 8% 0% 0% 0%; 
}
.hero-contant p {
    color: #fff;
    padding: 0 22%;
    margin: 12px 0;
    font-size: 18px;
}
.form-list{
    width: 10%;
    padding: 15px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-from{
    background-color: #FF6920;
    color: #fff;
    width: 10%;
    padding: 15px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
 
/* ggsgsgsgsgsg */
.destination-content{
    margin: 50px auto 40px;
    width: 80%;
    padding: 40px 0px;
  

    & .destination-text{
        text-align: center;
        margin: 0px 0px 40px;
    }
    & .destination-text h2{
        font-size: 40px;
        font-weight: 800 !important;
        line-height: 50px;
        letter-spacing: 1.5px;
        padding-top: 10px;
        font-weight: 600;
        margin: 10px 0px 20px;
    }
    & .destination-text p{
        color: #424247;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7em;
        padding: 0px 15px 40px 0px;
    }
    & .destination-box {
        width: 100%;

        & .box-1{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0px 0px 20px;
            justify-content: center;

            & .destination-box1{
                flex-basis: 48%;
                padding: 5px;
            }
            & img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
            
        }
        & .box-2{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0px 0px 20px;
            justify-content: center;

            & .destination-box2{
                flex-basis: 32%;
                padding: 5px;
            }
            & img {
                width: 100%;
                height: 90%;
                display: block;
            }
        }
        & .box-3{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0px 0px 20px;
            justify-content: center;

            & .destination-box3{
                flex-basis: 48%;
                padding: 5px;
            }
            & img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: contain;
            }
            & .p2{
                object-fit: contain;
                height: 80%;
            }
            
        }
    }
    & .destination-box img{
        transition: 0.5s ease-in-out;
    }
    & .destination-box img:hover {
        transform: scale(1.1);
    }
    
    & .destination-box .img-container {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
    }
    & .destination-box .img-container h3 {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 1px;
        z-index: 10;
    }
}


/* Tours Section CSS */
.tours-section{
    margin-top: 8%;

}
.tours-items{
    display: flex;
    justify-content: space-around;
}
.tours-content{
    width: 45%;
}
.tours-content h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.tours-content  p{
    font-size: 18px;
    margin: 25px 0;
    color: #79797B;
}
.item-list li{
    color: #717175;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
}
.tours-content button{
    padding: 10px 30px;
    border: 1px solid #FF6920;
    background-color: #FF6920;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.tours-content button:hover{
    color: #FF6920;
    border-color: #FF6920;
    background-color: #fff;
    cursor: pointer;
}

/* Chose Section CSS */
.chose-section{
    margin-top: 8%;
}
.chose-head{
    text-align: center;
}
.chose-head h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.chose-head p{
    color: #717175;
    font-size: 18px;
    margin-bottom: 40px;
    padding: 0 20%;
}
.chose-content{
    display: flex;
}
.item-1 {
    background-color: #FFFBF7;
    padding: 4% 17% 6% 5%;
    border-radius: 10px;
    width: 48%;
    margin-right: 10px;
}
.item-1 h3{
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 20px;
}
.item-1 p{
    color: #717175;
    font-size: 18px;
}
.item-1 img{
    margin-bottom: 15px;
}
.item-2 {
    background-color: #F4FDFF;
    padding: 4% 17% 6% 5%;
    border-radius: 10px;
    width: 48%;
    margin-left: 10px;
}
.item-2 h3{
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 20px;
}
.item-2 p{
    color: #717175;
    font-size: 18px;
}
.item-2 img{
    margin-bottom: 15px;
}
.item-3 {
    background-color: #FEF6F6;
    padding: 4% 17% 6% 5%;
    border-radius: 10px;
    width: 28%;
    margin-top: 15px;
}
.item-3 h3{
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 20px;
}
.item-3 p{
    color: #717175;
    font-size: 18px;
}
.item-3 img{
    margin-bottom: 15px;
}
.third-i{
    display: flex;
    justify-content: center;
}
/* Newsletter Section css */
.news-section{
    margin-top: 8%;
    margin-bottom: 8%;
}
.news-content{
    display: flex;
    gap: 20px;
}
.log-form{
    border: 1.5px solid #FF6920;
    width: 38%;
    border-radius: 10px;
}
.log-form h3 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 12px;
    margin-top: 30px;
}
.log-form p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #717175;
    padding: 0px 90px 4px 0px;
}
.log-img{
    width: 60%;
}
.log-img img{
    width: 100%;
    border-radius: 20px;
}
.log-form{
    padding: 3%;
}
.form-items input{
    background-color: #F3F3F3;
    width: 80%;
    padding: 15px 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

.form-items button {
    width: 91%;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #FF6920;
    color: #fff;
    font-size: 18px;
    border: 1px solid #FF6920;
    cursor: pointer;
}
.form-items button:hover{
    background-color: #fff;
    color: #FF6920;
    border-color: #FF6920;
}

/* Footer section css */
.footer-section{
    background-color: #F3F3F3;
    padding: 5% 0% 2% 0%;
}
.foot-logo a{
   display: flex;
   justify-content: center;
   text-decoration: none;
   align-items: center;
   margin-bottom: 20px;
}
.foot-logo a h2{
    color: #000;
    font-size: 30px;
    font-weight: 800;
}
.foot-logo a span{
    color: #FF6920;
}
.foot-1 p {
    text-align: center;
    padding: 0 9%;
    margin-bottom: 25px;
}
.social-media {
    text-align: center;
    border-bottom: 1px solid #717175;
    padding: 20px 0;
}
.social-media  li{
   display: inline;
   align-items: center;
}
.social-media a{
        color: #000;
        font-size: 20px;
        margin: 0 10px;
        transition: all 0.3s ease-in-out;
}
.social-media a:hover{
    color: #FF6920;
}
.fot-extra{
    padding: 0 10%;
}

.copy-items{
    padding: 4% 0;
    text-align: center;
}